body {
  background-color: #6c6a6a;
}
pre{
  background-color: #c7c7c7;
}
textarea{
  background-color: #c7c7c7;
  width: 70%;
    resize: none;
    overflow: hidden;
    min-height: 100px;
    max-height: 600px;
}
form {
  text-align: center;
}
footer {
    background-color: darkgray;
    width: 640px;
    margin: 0% -320px;
    position: fixed;
    left: 50%;
    bottom: 0%;
    text-align: center;
}