<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Decaf Compiler</title>
    <link rel="icon" type="image/x-icon" href="constant/favicon.ico/">
    <link rel="stylesheet" href="/constant/styles.css">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</head>
<body>
<pre class="prettyprint">{{ decafcode }}</pre>
<pre class="prettyprint">{{ mipscode }}</pre>
<footer>
    UI by Arshia Soltani, code is available in <a href="https://github.com/ckodser/decafCompilerwebsite"> decaf compiler website</a>
    <br>
    compiler code is available in <a href="https://github.com/Compiler-Design-2022/project-phase3-turn-it-on"> compiler engine</a>
</footer>
</body>
</html>